html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.header__content {
  background: url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__content-inner {
  padding: 40px 0 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  height: 100vh;
}

.header__title {
  font-family: BedasNeueBoldRegular;
  font-size: 3.8rem;
  letter-spacing: 0.095em;
  color: #ffffff;
}

.header__description {
  font-family: OpenSansSemiBold;
  font-size: 1rem;
  color: #ffffff;
}

.header__scpoll-down {
  font-family: OpenSansSemiBold;
  font-size: 0.7rem;
  letter-spacing: 0.336em;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__navigation--border-bottom {
  border-bottom: 1px solid #e6e6e6;
}

.header__nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.menu__list {
  display: flex;
}

.menu__list-item:not(:last-child) {
  margin-right: 40px;
}

.header__menu-button {
  display: none;
  font-size: 20px;
  color: #48555b;
}

.menu__link {
  font-family: OpenSansSemiBold;
  font-size: 0.75rem;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #48555b;
}

.menu__link--active:hover {
  font-family: OpenSansBold;
  color: #00a4e5;
  transition-duration: 0.5s;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }

  .header__menu-button {
    display: flex;
  }

  .menu__list-item {
    display: none;
  }
}

/* ABOUT */

.about {
  margin: 55px 0 120px;
}

.about__title {
  font-size: 1.12rem;
  letter-spacing: 2.30625px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 75px;
}

.about__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about__text {
  max-width: 405px;
  margin-right: 20px;
}

.about__title-medium {
  font-size: 1.25rem;
  letter-spacing: 0.1875px;
  line-height: 27px;
  margin-bottom: 30px;
}

.about__title-medium span {
  color: #16ace8;
}

.about__subtitle {
  font-size: 0.8rem;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

.about__items {
  display: flex;
  align-items: flex-end;
}

.about__item-img {
  position: relative;
  width: 100%;
}

.about__item-img:not(:last-child) {
  margin-right: 20px;
}

.about__img-text {
  font-family: OpenSansExtraBold;
  font-size: 1.5rem;
  line-height: 29px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 100%;
}

@media screen and (max-width: 915px) {
  .about__content {
    flex-direction: column;
  }

  .about__text {
    max-width: 60%;
    margin: 0 0 40px;
  }

  .about__items {
    align-self: flex-end;
  }
}

/* @media screen and (max-width: 768px) {
} */

@media screen and (max-width: 576px) {
  .about__title {
    margin-bottom: 45px;
  }

  .about__content {
    align-items: center;
  }

  .about__items {
    flex-direction: column;
    align-self: auto;
  }

  .about__item-img {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .about__item-img > img {
    width: 100%;
  }
}

/* SERVISES */
.servises {
  margin-bottom: 7.18rem;
}

.servises__title-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.servises__title {
  font-size: 1.12rem;
  line-height: 25px;
  letter-spacing: 2.30625px;
  margin-right: 155px;
}

.servises__subtitle {
  font-size: 0.68rem;
  line-height: 19px;
  letter-spacing: 0.2px;
  max-width: 405px;
  margin-right: 20px;
}

.button {
  font-family: "OpenSansBold";
  font-size: 13px;
  letter-spacing: 0.5px;
  height: 40px;
  width: 150px;
  color: #ffffff;
  background: #16ace8;
}

.button:hover {
  background-color: #0f688b;
  transition-duration: 0.5s;
}

.servises__items-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.servises__item {
  width: 33.3%;
  max-width: 295px;
  border: 1px solid #e6e6e6;
  padding: 40px 20px;
}
.servises__item:not(:last-child) {
  margin-right: 20px;
}
.servises__text {
  margin-top: 25px;
}

.servises__title-medium {
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.426667px;
  margin-bottom: 13px;
}

.servises__item-subtitle {
  font-size: 0.8rem;
  line-height: 23px;
  letter-spacing: 0.1875px;
}

@media screen and (max-width: 768px) {
  .servises__title-block {
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;
  }

  .servises__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px;
  }

  .servises__subtitle {
    margin: 0 0 20px;
  }

  .servises__items-block {
    justify-content: center;
    flex-wrap: wrap;
  }

  .servises__item {
    width: 40%;
    padding: 25px 15px;
  }

  .servises__item:nth-child(2) {
    margin-right: 0;
  }

  .servises__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
  .servises__items-block {
    flex-direction: column;
    align-items: center;
  }

  .servises__item {
    width: 80%;
  }

  .servises__item:nth-child(1) {
    margin-right: 0;
  }
}

/* GET IN TOUCH */

.get-in-touch {
  background: url(../images/get-in-touch-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 120px 0 230px;
}

.get-in-touch__content {
  font-size: 1.87rem;
  line-height: 36px;
  letter-spacing: 0.15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.get-in-touch__title {
  margin-bottom: 35px;
}

/* SIGN-UP */
.sign-up {
  background: #171819;
  padding: 30px 0;
}

.sign-up__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up__title {
  font-size: 1.37rem;
  letter-spacing: 0.846154px;
  color: #ffffff;
  margin-right: 20px;
}

.sign-up__box {
  display: flex;
  max-width: 400px;
}

.sign-up__email {
  border: 1px solid #979797;
  width: 250px;
  padding: 10px 15px;
}

.sign-up__email::placeholder {
  font-family: OpenSansRegular;
  font-size: 0.87rem;
  letter-spacing: 0.07px;
  color: #48555b;
}

@media screen and (max-width: 768px) {
  .sign-up__row {
    flex-direction: column;
  }

  .sign-up__title {
    margin: 0 0 20px;
  }
}

@media screen and (max-width: 576px) {
  .sign-up__email {
    width: 80%;
  }
}

/* FOOTER */

.footer__inner {
  background: #141a20;
  padding: 40px 0 50px;
}

.footer__content {
  display: flex;
  justify-content: space-between;

  font-family: OpenSansSemiBold;
  font-size: 0.68rem;
  letter-spacing: 0.846154px;
  color: #ffffff;
}

.footer__company {
  max-width: 250px;
  margin-right: 20px;
}

.footer__title {
  font-family: OpenSansRegular;
  font-size: 0.68rem;
  letter-spacing: 0.846154px;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__logo {
  margin-bottom: 16px;
}

.footer__subtitle {
  font-size: 0.68rem;
  line-height: 19px;
  letter-spacing: 0.85px;
  color: #ffffff;
}

.footer__links {
  margin-right: 15px;
}

.footer__links-items {
  display: flex;
}
.footer__item {
  display: flex;
  flex-direction: column;
  margin-right:30px;
}
.footer__link {
  color: #ffffff;
  margin-bottom: 10px;
}
.footer__contact-us {
  display: flex;
  max-width: 274px;
  margin-right: 10px;
}

.footer__adress {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.footer__link-tel {
  margin-bottom: 20px;
}

.footer__social-media {
  margin-top: 40px;
}

.footer__social-media-link {
  font-size: 12px;
  color: #ffffff;
}

.footer__social-media-link:not(:last-child) {
  margin-right: 15px;
}

.footer__bottom {
  display: flex;
  justify-content: center;
  background: #171819;
  padding: 23px 0;
}

@media screen and (max-width: 785px) {
  .footer__social-media {
      display: flex;
    flex-direction: column;
  }

  .footer__social-media-link {
      margin-right: 0;
  }

  .footer__social-media-link:not(:last-child) {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 576px) {
    .footer__content {
        flex-direction: column;
        align-items: center;
    }

    .footer__company {
        margin: 0 0 20px;
    }

    .footer__contact-us {
        margin: 0 0 20px;
    }
  }


